* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

canvas {
  border: 1px solid #ccc;
  background-size: cover;
  background-image: url('http://clipart-library.com/img1/1147856.png');
  margin-top: 1rem;
}

#controls {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  width: 120px; /* Fixed width */
  height: 36px; /* Fixed height */
}

.btn:hover {
  background-color: #45a049;
}

#colors {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.color {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.draggable-text {
  position: absolute;
  font-size: 16px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: move;
}
