@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');





.manager-notifications{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.manager-notifications li{
  margin-bottom: 20px;
  list-style: none;
  padding-inline-start: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
  width: 100%;
}