@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');


*{

  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}


.manager-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;

}

.welcome-title{
  width: fit-content;
  display: inline-block;
  padding: 0;



}


.table td {
  padding:0 25px 0 0; /* Only right padding*/
}

.table th {
  padding:0 50px 0 0; /* Only right padding*/

}


.player-information-list{

  list-style: none;




}

.player-information-list li{
  margin-bottom: 20px;

}



