{% extends 'base_player.html' %} {% block content %}
<main class="content">
  <div class="text-center mt-4">
    <h1 class="h2">Announcements</h1>
    <p class="lead"></p>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="col-lg-8 col-xxl-9">
        <div class="row">
          {% for announcement in announcements %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  {{announcement.owner.user.username}}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{announcement.datetime}}
                </h6>
                <p class="card-text">{{announcement.message}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
</main>
{% endblock %}
