{% extends 'base.html' %}
{% block content %}
<main class="content">



<div class="container-fluid p-0">

    <h1 class="h3 mb-3"><strong>Coach's</strong> Dashboard</h1>

    <div class="row">
        <div class="col-12 col-lg-8 col-xxl-9 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <h5 class="card-title mb-0">Player List</h5>
                </div>
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="d-none d-xl-table-cell">Position</th>
                            <th class="d-none d-xl-table-cell">Email</th>
                            <th>Edit</th>
                            <th class="d-none d-md-table-cell">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players %}
                        <tr>
                            <td>{{ player.profile.user.get_full_name }}</td>
                            {% if player.position %}
                            <td class="d-none d-xl-table-cell">{{ player.position }}</td>
                            {% else %}
                            <td class="d-none d-xl-table-cell">NaN</td>
                            {% endif %}
                            <td class="d-none d-xl-table-cell">{{ player.profile.user.email }}</td>
                            <td>
                                <a href="{% url 'edit_player_profile' player.profile.user.username %}">
                                    <button class="btn btn-info">Edit</button>
                                </a>
                            </td>
                            <td class="d-none d-md-table-cell">
                                <a href="{% url 'delete_player_profile' player.profile.user.username %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-12 col-lg-4 col-xxl-3 d-flex">
            <div class="card flex-fill w-100">
                <div class="card-header">
                    <h5 class="card-title mb-0"></h5>
                </div>
                <div class="card-body d-flex w-100">
                    <div class="align-self-center chart chart-lg">
                      <button class="btn btn-primary" href="{% url 'whiteboard' %}">GO TO WHITEBOARD</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</main>
{% endblock %}