{% extends 'base.html' %}

{% block content %}
  <h2>Players</h2>
  <a href="{% url 'player_create' %}">Add New Player</a>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Team</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
        <tr>
          <td>{{ player.profile.user.get_full_name }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.team }}</td>
          <td>
            <a href="{% url 'player_update' player.pk %}">Edit</a>
            <a href="{% url 'player_delete' player.pk %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
