<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <title>Whiteboard</title>
</head>
<body>
  <div class="container">
    <div id="colors">
      <button class="color" id="black"></button>
      <button class="color" id="red"></button>
      <button class="color" id="green"></button>
      <button class="color" id="blue"></button>
    </div>
    <button id="clear" class="btn">Clear</button>
    <button id="undo" class="btn">Undo</button>
    <button id="saveDevice" class="btn">Save to Device</button>
    <button id="saveDB" class="btn">Save to DB</button>
    <select id="player" class="btn">
      <option value="">Select Player</option>
      <option value="PG">PG</option>
      <option value="SG">SG</option>
      <option value="SF">SF</option>
      <option value="PF">PF</option>
      <option value="C">C</option>
    </select>
    <button id="arrow" class="btn">Arrow</button>
    <button id="line" class="btn">Line</button>
    <button id="erase" class="btn">Erase</button>
    <button id="freehand" class="btn">Freehand</button>
    <button id="addText" class="btn">Add Text</button>
  </div>

  <canvas id="whiteboard"></canvas>
  {% load static %}
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
